<h2 mat-dialog-title>Rejeter la candidature</h2>
<mat-dialog-content>
  <p>Veuillez fournir une raison claire et concise pour le rejet. Cet texte sera envoyé au candidat.</p>
  
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Raison du rejet</mat-label>
      <textarea matInput formControlName="reason" rows="5" required></textarea>
      <mat-error *ngIf="form.get('reason')?.hasError('required')">Une raison est obligatoire.</mat-error>
      <mat-error *ngIf="form.get('reason')?.hasError('minlength')">10 caractères minimum.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="warn" [disabled]="form.invalid" (click)="onConfirm()">Confirmer le Rejet</button>
</mat-dialog-actions>